# Server Configuration
PORT=5000
NODE_ENV=development

# Neon PostgreSQL Database URL
DATABASE_URL="postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# JWT Authentication
JWT_SECRET="replace-with-a-secure-random-secret-key-32-chars-minimum"
JWT_EXPIRES_IN="7d"

# Frontend Origin (Next.js)
CORS_ORIGIN="http://localhost:3000"
